# Daniel Bezerra Martellini - 2020356


### My repository https://github.com/daniel-martellini-projects/CA_data_exploration

In [1]:
import pandas as pd

C:\Users\danie\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\danie\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

## Reading cvs and assigning to a dataframe

In [2]:
#https://www.kaggle.com/datasets/georgesaavedra/covid19-dataset
covid_data = pd.read_csv("covid19_dataset/covid-data.csv")

#https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress
vaccines_data= pd.read_csv("covid19_dataset/country_vaccinations.csv")

#https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset
world_statistics =pd.read_csv("covid19_dataset/world_population.csv")

### Checking size of dataframes

In [3]:
first_dataset_shape = covid_data.shape
second_dataset_shape = vaccines_data.shape
third_dataset_shape = world_statistics.shape
print(f"First dataset (covid data) is {first_dataset_shape}")
print(f"Second dataset (vaccines data) is {second_dataset_shape}")
print(f"Third dataset (population data) is {third_dataset_shape}")

First dataset (covid data) is (166326, 67)
Second dataset (vaccines data) is (86512, 15)
Third dataset (population data) is (234, 17)

### Dropping features from those datasets by specifying the ones that I want

In [4]:
#creating a dataframe that contains data about covid cases and deaths per date and country
columns_that_I_want = ["date","iso_code","location","continent","new_cases","total_cases","new_deaths","total_deaths"]
covid_data = covid_data[columns_that_I_want]

In [5]:
#creating a dataframe that contains data about vaccination per date and country
columns_that_I_want =["date", "iso_code","total_vaccinations","people_vaccinated","people_fully_vaccinated"]
vaccines_data = vaccines_data[columns_that_I_want]

In [6]:
#creating a dataframe that contains country code and population
columns_that_I_want = ["CCA3", "2020 Population","2022 Population"]
world_statistics = world_statistics[columns_that_I_want]

In [7]:
first_dataset_shape = covid_data.shape
second_dataset_shape = vaccines_data.shape
third_dataset_shape = world_statistics.shape
print(f"First dataset (covid data) is {first_dataset_shape}")
print(f"Second dataset (vaccines data) is {second_dataset_shape}")
print(f"Third dataset (population data) is {third_dataset_shape}")

First dataset (covid data) is (166326, 8)
Second dataset (vaccines data) is (86512, 5)
Third dataset (population data) is (234, 3)

## Merging my datasets

In [8]:
#merging my dataframes based on their country code and date
first_merge_df = pd.merge(covid_data, vaccines_data, on=['iso_code',"date"], how='left')
first_merge_df.shape

(166326, 11)

In [9]:
first_merge_df

,date,iso_code,location,continent,new_cases,total_cases,new_deaths,total_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,2020-02-24,AFG,Afghanistan,Asia,5.0,5.0,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
166321,2022-03-01,ZWE,Zimbabwe,Africa,491.0,236871.0,0.0,5395.0,7901360.0,4365856.0,3399915.0
166322,2022-03-02,ZWE,Zimbabwe,Africa,632.0,237503.0,1.0,5396.0,7910740.0,4368726.0,3402434.0
166323,2022-03-03,ZWE,Zimbabwe,Africa,0.0,237503.0,0.0,5396.0,7921113.0,4372925.0,3406482.0
166324,2022-03-04,ZWE,Zimbabwe,Africa,1236.0,238739.0,1.0,5397.0,7930621.0,4374896.0,3408609.0
166325,2022-03-05,ZWE,Zimbabwe,Africa,280.0,239019.0,0.0,5397.0,7936145.0,4377373.0,3410340.0

In [10]:
second_merge_df = pd.merge(first_merge_df, world_statistics, left_on=['iso_code'], right_on=['CCA3'],how='inner')
columns_to_drop = ['CCA3']
# Dropping column that would become a duplicate
second_merge_df = second_merge_df.drop(columns=columns_to_drop)
second_merge_df.shape

(153998, 13)

In [11]:
second_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                151207 non-null  float64
 5   total_cases              151374 non-null  float64
 6   new_deaths               134297 non-null  float64
 7   total_deaths             134459 non-null  float64
 8   total_vaccinations       39644 non-null   float64
 9   people_vaccinated        37430 non-null   float64
 10  people_fully_vaccinated  34889 non-null   float64
 11  2020 Population          153998 non-null  int64
 12  2022 Population          153998 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 15.3+ MB

### Applying forward fill:

In [12]:
#selecting all columns with numeric value that are a sum of the values that came before them:
columns_to_ffill_by_country = ['total_cases', 'total_deaths','total_vaccinations','people_vaccinated','people_fully_vaccinated']
merged_with_groupby_ffill = second_merge_df
merged_with_groupby_ffill[columns_to_ffill_by_country] = second_merge_df.groupby('iso_code')[columns_to_ffill_by_country].ffill()

In [13]:
merged_with_groupby_ffill.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                151207 non-null  float64
 5   total_cases              151374 non-null  float64
 6   new_deaths               134297 non-null  float64
 7   total_deaths             134459 non-null  float64
 8   total_vaccinations       80190 non-null   float64
 9   people_vaccinated        79504 non-null   float64
 10  people_fully_vaccinated  69978 non-null   float64
 11  2020 Population          153998 non-null  int64
 12  2022 Population          153998 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 15.3+ MB

### Filling NaN values with 0, after making sure that that wouldn't affect my data

In [14]:
merged_with_groupby_ffill_no_nan = merged_with_groupby_ffill.fillna(0)
merged_with_groupby_ffill_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                153998 non-null  float64
 5   total_cases              153998 non-null  float64
 6   new_deaths               153998 non-null  float64
 7   total_deaths             153998 non-null  float64
 8   total_vaccinations       153998 non-null  float64
 9   people_vaccinated        153998 non-null  float64
 10  people_fully_vaccinated  153998 non-null  float64
 11  2020 Population          153998 non-null  int64
 12  2022 Population          153998 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 15.3+ MB

In [15]:
#When I use inner merge I can get rid of all of those "Countries"
#OWID stands for Our World In Data and it's one of our sources for the dataset
result = second_merge_df[second_merge_df['2020 Population'].isna()]['iso_code'].unique()
result

array([], dtype=object)

In [16]:
second_merge_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                151207 non-null  float64
 5   total_cases              151374 non-null  float64
 6   new_deaths               134297 non-null  float64
 7   total_deaths             134459 non-null  float64
 8   total_vaccinations       80190 non-null   float64
 9   people_vaccinated        79504 non-null   float64
 10  people_fully_vaccinated  69978 non-null   float64
 11  2020 Population          153998 non-null  int64
 12  2022 Population          153998 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 15.3+ MB

## Describing my DFs

In [17]:
first_merge_df.info()
second_merge_df.info()
merged_with_groupby_ffill_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     166326 non-null  object
 1   iso_code                 166326 non-null  object
 2   location                 166326 non-null  object
 3   continent                156370 non-null  object
 4   new_cases                163133 non-null  float64
 5   total_cases              163293 non-null  float64
 6   new_deaths               145487 non-null  float64
 7   total_deaths             145451 non-null  float64
 8   total_vaccinations       39897 non-null   float64
 9   people_vaccinated        37661 non-null   float64
 10  people_fully_vaccinated  35123 non-null   float64
dtypes: float64(7), object(4)
memory usage: 14.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                151207 non-null  float64
 5   total_cases              151374 non-null  float64
 6   new_deaths               134297 non-null  float64
 7   total_deaths             134459 non-null  float64
 8   total_vaccinations       80190 non-null   float64
 9   people_vaccinated        79504 non-null   float64
 10  people_fully_vaccinated  69978 non-null   float64
 11  2020 Population          153998 non-null  int64
 12  2022 Population          153998 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 15.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 13 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                153998 non-null  float64
 5   total_cases              153998 non-null  float64
 6   new_deaths               153998 non-null  float64
 7   total_deaths             153998 non-null  float64
 8   total_vaccinations       153998 non-null  float64
 9   people_vaccinated        153998 non-null  float64
 10  people_fully_vaccinated  153998 non-null  float64
 11  2020 Population          153998 non-null  int64
 12  2022 Population          153998 non-null  int64
dtypes: float64(7), int64(2), object(4)
memory usage: 15.3+ MB

## Converting float values to int

In [18]:
final_df = merged_with_groupby_ffill_no_nan
columns_to_convert= ["new_cases","total_cases","new_deaths",
                     "total_deaths","total_vaccinations","people_vaccinated",
                     "people_fully_vaccinated"]
final_df[columns_to_convert] = merged_with_groupby_ffill_no_nan[columns_to_convert].astype(int)

In [ ]:
import matplotlib.pyplot as plt

### plotting NaN values

In [ ]:
count1 = covid_data.isna().sum()
count2 = vaccines_data.isna().sum()

fig, ax = plt.subplots(1, 2, figsize=(16, 4))
# Plotting
count1.plot(kind='bar',ax=ax[0],)
ax[0].tick_params(axis='x' ,rotation=45)
ax[0].set_title('Number of NaN values per feature First Dataset')
ax[0].set_xlabel('Features')
ax[0].set_ylabel('Number of NaN values')


count2.plot(kind='bar',ax=ax[1],)
ax[1].tick_params(axis='x', rotation=45)
ax[1].set_title('Number of NaN values per feature Second Dataset')
ax[1].set_xlabel('Features')
ax[1].set_ylabel('Number of NaN values')

plt.show()

In [ ]:
nan_count1 = merged_with_groupby_ffill.isna().sum()
nan_count2 = final_df.isna().sum()

fig, ax = plt.subplots(1, 2, figsize=(16, 4))
# Plotting
nan_count1.plot(kind='bar',ax=ax[0],color= "green")
ax[0].tick_params(axis='x' ,rotation=45)
ax[0].set_title('Number of NaN values per feature before filling NaN')
ax[0].set_xlabel('Features')
ax[0].set_ylabel('Number of NaN values')


nan_count2.plot(kind='bar',ax=ax[1],color= "green")
ax[1].tick_params(axis='x', rotation=45)
ax[1].set_title('Number of NaN values per feature after filling NaN')
ax[1].set_xlabel('Features')
ax[1].set_ylabel('Number of NaN values')

plt.show()

## finding largest values of a feature by country - top 10

In [ ]:
feature_largest = "total_deaths"
sorted_df= final_df.sort_values(by=[feature_largest], ascending=[False])
top_10_countries_df = sorted_df.drop_duplicates(subset='iso_code').head(10)
top_10_countries_df

## Dropping columns that had negative values (because in our case they don't make any sense, you cannot have a negative number of vaccines, I believe data was entered incorrectly)

In [ ]:
final_df = final_df[final_df['total_vaccinations'] >= 0]
final_df.describe()

## checking unique values on the continent feature

In [ ]:
final_df["continent"].unique()

## Applying one hot encoding for continent variable and creating a new dataframe for it.

In [ ]:
df_one_hot_regions = pd.get_dummies(final_df['continent'], prefix='continent')
final_df_one_hot = pd.concat([final_df, df_one_hot_regions], axis=1)
final_df_one_hot.shape

In [ ]:
final_df_one_hot.sample(5)

In [ ]:
#pip install --upgrade scikit-learn

## Scaling and standardizing data

In [ ]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler, RobustScaler

In [ ]:
final_df_numeric_only = final_df.drop(["date","iso_code","location","continent"], axis=1)
final_df_numeric_only

In [ ]:
#https://www.turing.com/kb/data-normalization-with-python-scikit-learn-tips-tricks-for-data-science

#Min-Max normalization
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.MinMaxScaler.html
min_max_normalization = MinMaxScaler()
df_min_max = pd.DataFrame(min_max_normalization.fit_transform(final_df_numeric_only), columns=final_df_numeric_only.columns)

#z-score standardization
#https://scikit-learn.org/stable/modules/preprocessing#standardization-or-mean-removal-and-variance-scaling
z_score_standardization = StandardScaler()
df_z_score = pd.DataFrame(z_score_standardization.fit_transform(final_df_numeric_only), columns=final_df_numeric_only.columns)

#Robust scaler
#https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.robust_scale.html
robust_scaler = RobustScaler()
df_robust_scaler = pd.DataFrame(robust_scaler.fit_transform(final_df_numeric_only), columns=final_df_numeric_only.columns)

#https://www.turing.com/kb/data-normalization-with-python-scikit-learn-tips-tricks-for-data-science

In [ ]:
final_df_numeric_only.describe()

In [ ]:
df_robust_scaler.describe()

## PCA

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
#Creating an instance of PCA and setting how many components I want
pca = PCA(n_components=2)
#I have already normalized my data in the previous question so I can use the same dataframe
df_pca = pca.fit_transform(df_z_score)

In [ ]:
#df with the Principal Components from first to last
df_pca = pd.DataFrame(data=df_pca, columns=['pc1','pc2'])

#here we will see how each variable contributes to the PCA
loads_df = pd.DataFrame(pca.components_.T, columns=['PC1_load', 'PC2_load'], index=final_df_numeric_only.columns)

In [ ]:
df_pca

In [ ]:
loads_df

In [ ]:
#ploting my pca dataframe
fig= plt.figure(figsize=(20, 6))

plt.scatter(df_pca["pc1"], df_pca["pc2"])
plt.title(f'Scatter Plot of "pc1" vs "pc2"')
plt.xlabel("pc1")
plt.ylabel("pc2")

plt.show()

In [ ]:
#dataframe used for my PCA
df_z_score.info()

In [ ]:
#PCA dataframe
df_pca.info()

In [ ]:
# explained variance ratio per component 
print("Variance Ratio in %:")
sum_components=0
for i, ratio in enumerate(pca.explained_variance_ratio_):
    sum_components = sum_components+ratio
    print(f"Principal component {i + 1}: {ratio:.3f}")
print(f"Total variance captured: {sum_components}")

In [ ]:
# Plotting
fig= plt.figure(figsize=(11, 6))
columnx_1 = 'total_vaccinations'
columny_1 = 'new_deaths'
plt.scatter(final_df_numeric_only[columnx_1], final_df_numeric_only[columny_1])
plt.title(f'Scatter Plot of {columnx_1} vs {columny_1}')
plt.xlabel(columnx_1)
plt.ylabel(columny_1)

plt.show()

### Exploring correlations between features

In [ ]:
import seaborn as sns
#https://medium.com/@szabo.bibor/how-to-create-a-seaborn-correlation-heatmap-in-python-834c0686b88e
heat_plot_correlational = final_df_numeric_only.corr()
sns.heatmap(heat_plot_correlational, annot=True, cmap='coolwarm')
plt.show()

In [ ]:
#defining features to be analyzed
columnx_1 = 'total_cases'
columny_1 = 'total_deaths'
columnx_2 = 'people_fully_vaccinated'
columny_2 = 'new_deaths'
#2 figures
fig, ax = plt.subplots(1, 2, figsize=(22, 8))
#plots
ax[0].scatter(final_df_numeric_only[columnx_1], final_df_numeric_only[columny_1])
ax[0].set_title(f'Scatter Plot of {columnx_1} vs {columny_1}')
ax[0].set_xlabel(columnx_1)
ax[0].set_ylabel(columny_1)

ax[1].scatter(final_df_numeric_only[columnx_2], final_df_numeric_only[columny_2])
ax[1].set_title(f'Scatter Plot of {columnx_2} vs {columny_2}')
ax[1].set_xlabel(columnx_2)
ax[1].set_ylabel(columny_2)

plt.show()

## low correlation

In [ ]:
# Plotting
fig= plt.figure(figsize=(11, 6))
columnx_1 = 'total_vaccinations'
columny_1 = 'new_deaths'
plt.scatter(final_df_numeric_only[columnx_1], final_df_numeric_only[columny_1])
plt.title(f'Scatter Plot of {columnx_1} vs {columny_1}')
plt.xlabel(columnx_1)
plt.ylabel(columny_1)

plt.show()

## high correlation

In [ ]:
# Plotting
fig= plt.figure(figsize=(11, 6))
columnx_1 = 'people_vaccinated'
columny_1 = 'total_vaccinations'
plt.scatter(final_df_numeric_only[columnx_1], final_df_numeric_only[columny_1])
plt.title(f'Scatter Plot of {columnx_1} vs {columny_1}')
plt.xlabel(columnx_1)
plt.ylabel(columny_1)

plt.show()

In case I want to download any of my dataframes as csv

In [ ]:
#final_df.to_csv('final.csv', index=False)