In [1]:
import pandas as pd

In [26]:
df = pd.read_csv("covid19_dataset/full_grouped.csv")
df_world_data = pd.read_csv("covid19_dataset/worldometer_data.csv")

In [5]:
df.head()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
0,2020-01-22,Afghanistan,0,0,0,0,0,0,0,Eastern Mediterranean
1,2020-01-22,Albania,0,0,0,0,0,0,0,Europe
2,2020-01-22,Algeria,0,0,0,0,0,0,0,Africa
3,2020-01-22,Andorra,0,0,0,0,0,0,0,Europe
4,2020-01-22,Angola,0,0,0,0,0,0,0,Africa

In [7]:
df["WHO Region"].unique()

array(['Eastern Mediterranean', 'Europe', 'Africa', 'Americas',
       'Western Pacific', 'South-East Asia'], dtype=object)

In [21]:
import pandas as pd

# Assuming 'your_column' is the column you want to one-hot encode
df_one_hot_regions = pd.get_dummies(df['WHO Region'], prefix='Region')

# Concatenate the original DataFrame with the one-hot encoded DataFrame
df = pd.concat([df, df_one_hot_regions], axis=1)

# Drop the original column if needed
#df = df.drop('your_column', axis=1)

# Display the resulting DataFrame
df.shape

(35156, 16)

In [28]:
df.tail()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region
35151,2020-07-27,West Bank and Gaza,10621,78,3752,6791,152,2,0,Eastern Mediterranean
35152,2020-07-27,Western Sahara,10,1,8,1,0,0,0,Africa
35153,2020-07-27,Yemen,1691,483,833,375,10,4,36,Eastern Mediterranean
35154,2020-07-27,Zambia,4552,140,2815,1597,71,1,465,Africa
35155,2020-07-27,Zimbabwe,2704,36,542,2126,192,2,24,Africa

In [24]:
df["Country/Region"].nunique()

187

In [43]:
df[df["Country/Region"]=="US"]["Deaths"].sum()

11011411

In [41]:
df_world_data[df_world_data["Country/Region"]=="USA"]

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,331198130.0,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas

In [ ]:
df[]