In [76]:
import pandas as pd

In [9]:


df_one_hot_regions = pd.get_dummies(df['WHO Region'], prefix='Region')


df = pd.concat([df, df_one_hot_regions], axis=1)


df.shape

(35156, 16)

In [83]:
df["Country/Region"].nunique()

187

In [13]:
df_world_data[df_world_data["Country/Region"]=="USA"]

,Country/Region,Continent,Population,TotalCases,NewCases,TotalDeaths,NewDeaths,TotalRecovered,NewRecovered,ActiveCases,"Serious,Critical",Tot Cases/1M pop,Deaths/1M pop,TotalTests,Tests/1M pop,WHO Region
0,USA,North America,331198130.0,5032179,NaN,162804.0,NaN,2576668.0,NaN,2292707.0,18296.0,15194.0,492.0,63139605.0,190640.0,Americas

In [15]:
df[df["Country/Region"]=="Afghanistan"].tail()

,Date,Country/Region,Confirmed,Deaths,Recovered,Active,New cases,New deaths,New recovered,WHO Region,Region_Africa,Region_Americas,Region_Eastern Mediterranean,Region_Europe,Region_South-East Asia,Region_Western Pacific
34221,2020-07-23,Afghanistan,35928,1211,24550,10167,201,21,626,Eastern Mediterranean,0,0,1,0,0,0
34408,2020-07-24,Afghanistan,35981,1225,24602,10154,53,14,52,Eastern Mediterranean,0,0,1,0,0,0
34595,2020-07-25,Afghanistan,36036,1248,24793,9995,55,23,191,Eastern Mediterranean,0,0,1,0,0,0
34782,2020-07-26,Afghanistan,36157,1259,25180,9718,121,11,387,Eastern Mediterranean,0,0,1,0,0,0
34969,2020-07-27,Afghanistan,36263,1269,25198,9796,106,10,18,Eastern Mediterranean,0,0,1,0,0,0

In [88]:
df_main = pd.read_csv("covid19_dataset/worldometer_coronavirus_daily_data.csv")

I'm choosing this dataset to be the base for my project, I'm still going to add new columns to it.

In [89]:
df_main

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...
184782,2022-5-10,Zimbabwe,248642.0,106.0,963.0,5481.0,2.0
184783,2022-5-11,Zimbabwe,248778.0,136.0,1039.0,5481.0,0.0
184784,2022-5-12,Zimbabwe,248943.0,165.0,1158.0,5481.0,0.0
184785,2022-5-13,Zimbabwe,249131.0,188.0,1283.0,5482.0,1.0
184786,2022-5-14,Zimbabwe,249206.0,75.0,1307.0,5482.0,0.0

In [91]:
world_data_df= pd.read_csv("covid19_dataset/worldometer_coronavirus_summary_data.csv")

In [94]:
columns_that_I_want = ["country", "continent","population", "total_deaths"]
world_data_df_reduced_for_merge = world_data_df[columns_that_I_want]

In [33]:
vaccination_df = vaccination_df[["country","iso_code","date","total_vaccinations","people_vaccinated","people_fully_vaccinated","daily_vaccinations"]]

In [56]:
vaccination_df

,country,iso_code,date,total_vaccinations,people_vaccinated,people_fully_vaccinated,daily_vaccinations
0,Afghanistan,AFG,2021-02-22,0.0,0.0,NaN,NaN
1,Afghanistan,AFG,2021-02-23,NaN,NaN,NaN,1367.0
2,Afghanistan,AFG,2021-02-24,NaN,NaN,NaN,1367.0
3,Afghanistan,AFG,2021-02-25,NaN,NaN,NaN,1367.0
4,Afghanistan,AFG,2021-02-26,NaN,NaN,NaN,1367.0
...,...,...,...,...,...,...,...
86507,Zimbabwe,ZWE,2022-03-25,8691642.0,4814582.0,3473523.0,69579.0
86508,Zimbabwe,ZWE,2022-03-26,8791728.0,4886242.0,3487962.0,83429.0
86509,Zimbabwe,ZWE,2022-03-27,8845039.0,4918147.0,3493763.0,90629.0
86510,Zimbabwe,ZWE,2022-03-28,8934360.0,4975433.0,3501493.0,100614.0
86511,Zimbabwe,ZWE,2022-03-29,9039729.0,5053114.0,3510256.0,103751.0

In [105]:
merged_df = pd.merge(df_main, world_data_df_reduced_for_merge, on=['country'], how='left')

In [106]:

merged_df[merged_df["country"]=="Afghanistan"]["daily_new_deaths"].sum()

7690.0

In [107]:
merged_df

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,continent,population,total_deaths
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0
...,...,...,...,...,...,...,...,...,...,...
184782,2022-5-10,Zimbabwe,248642.0,106.0,963.0,5481.0,2.0,Africa,15265849,5482.0
184783,2022-5-11,Zimbabwe,248778.0,136.0,1039.0,5481.0,0.0,Africa,15265849,5482.0
184784,2022-5-12,Zimbabwe,248943.0,165.0,1158.0,5481.0,0.0,Africa,15265849,5482.0
184785,2022-5-13,Zimbabwe,249131.0,188.0,1283.0,5482.0,1.0,Africa,15265849,5482.0
184786,2022-5-14,Zimbabwe,249206.0,75.0,1307.0,5482.0,0.0,Africa,15265849,5482.0

In [100]:
merged_df["continent"].unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Australia/Oceania'], dtype=object)

In [73]:
merged_df.to_csv('vaccination_data.csv', index=False)

In [102]:
merged_df = pd.merge(df_main, countries_iso_df, on=['country'], how='left')

In [104]:
merged_df

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,iso_code
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN,AFG
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN,AFG
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN,AFG
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN,AFG
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN,AFG
...,...,...,...,...,...,...,...,...
184782,2022-5-10,Zimbabwe,248642.0,106.0,963.0,5481.0,2.0,ZWE
184783,2022-5-11,Zimbabwe,248778.0,136.0,1039.0,5481.0,0.0,ZWE
184784,2022-5-12,Zimbabwe,248943.0,165.0,1158.0,5481.0,0.0,ZWE
184785,2022-5-13,Zimbabwe,249131.0,188.0,1283.0,5482.0,1.0,ZWE
184786,2022-5-14,Zimbabwe,249206.0,75.0,1307.0,5482.0,0.0,ZWE

In [113]:
vaccines_df= pd.read_csv("covid19_dataset/country_vaccinations.csv")
vaccines_df = vaccines_df[["country","date", "iso_code","total_vaccinations","people_vaccinated","people_fully_vaccinated"]]

In [114]:
vaccines_df

,country,date,iso_code,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,Afghanistan,2021-02-22,AFG,0.0,0.0,NaN
1,Afghanistan,2021-02-23,AFG,NaN,NaN,NaN
2,Afghanistan,2021-02-24,AFG,NaN,NaN,NaN
3,Afghanistan,2021-02-25,AFG,NaN,NaN,NaN
4,Afghanistan,2021-02-26,AFG,NaN,NaN,NaN
...,...,...,...,...,...,...
86507,Zimbabwe,2022-03-25,ZWE,8691642.0,4814582.0,3473523.0
86508,Zimbabwe,2022-03-26,ZWE,8791728.0,4886242.0,3487962.0
86509,Zimbabwe,2022-03-27,ZWE,8845039.0,4918147.0,3493763.0
86510,Zimbabwe,2022-03-28,ZWE,8934360.0,4975433.0,3501493.0
86511,Zimbabwe,2022-03-29,ZWE,9039729.0,5053114.0,3510256.0

In [115]:
merged_df = pd.merge(merged_df, vaccines_df, on=['country',"date"], how='left')

In [116]:
merged_df[mer]

,date,country,cumulative_total_cases,daily_new_cases,active_cases,cumulative_total_deaths,daily_new_deaths,continent,population,total_deaths,iso_code,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,2020-2-15,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0,NaN,NaN,NaN,NaN
1,2020-2-16,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0,NaN,NaN,NaN,NaN
2,2020-2-17,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0,NaN,NaN,NaN,NaN
3,2020-2-18,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0,NaN,NaN,NaN,NaN
4,2020-2-19,Afghanistan,0.0,NaN,0.0,0.0,NaN,Asia,40560636,7690.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
184782,2022-5-10,Zimbabwe,248642.0,106.0,963.0,5481.0,2.0,Africa,15265849,5482.0,NaN,NaN,NaN,NaN
184783,2022-5-11,Zimbabwe,248778.0,136.0,1039.0,5481.0,0.0,Africa,15265849,5482.0,NaN,NaN,NaN,NaN
184784,2022-5-12,Zimbabwe,248943.0,165.0,1158.0,5481.0,0.0,Africa,15265849,5482.0,NaN,NaN,NaN,NaN
184785,2022-5-13,Zimbabwe,249131.0,188.0,1283.0,5482.0,1.0,Africa,15265849,5482.0,NaN,NaN,NaN,NaN
184786,2022-5-14,Zimbabwe,249206.0,75.0,1307.0,5482.0,0.0,Africa,15265849,5482.0,NaN,NaN,NaN,NaN

Trying different dataset

In [118]:
covid_data = pd.read_csv("covid19_dataset/covid-data.csv")

In [ ]:
covid_data