In [1]:
import pandas as pd

C:\Users\danie\anaconda3\lib\site-packages\pandas\core\computation\expressions.py:21: UserWarning: Pandas requires version '2.8.0' or newer of 'numexpr' (version '2.7.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
C:\Users\danie\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:62: UserWarning: Pandas requires version '1.3.4' or newer of 'bottleneck' (version '1.3.2' currently installed).
  from pandas.core import (

In [2]:


# df_one_hot_regions = pd.get_dummies(df['WHO Region'], prefix='Region')


# df = pd.concat([df, df_one_hot_regions], axis=1)


# df.shape

In [3]:
#https://www.kaggle.com/datasets/georgesaavedra/covid19-dataset
covid_data = pd.read_csv("covid19_dataset/covid-data.csv")

#https://www.kaggle.com/datasets/gpreda/covid-world-vaccination-progress
vaccines_data= pd.read_csv("covid19_dataset/country_vaccinations.csv")

#https://www.kaggle.com/datasets/iamsouravbanerjee/world-population-dataset
world_statistics =pd.read_csv("covid19_dataset/world_population.csv")

In [4]:
#creating a dataframe that contains data about covid cases and deaths per date and country
columns_that_I_want = ["date","iso_code","location","continent","new_cases","total_cases","new_deaths","total_deaths"]
covid_data = covid_data[columns_that_I_want]

In [5]:
#creating a dataframe that contains data about vaccination per date and country
vaccines_data = vaccines_data[["date", "iso_code","total_vaccinations","people_vaccinated","people_fully_vaccinated"]]

In [6]:
#mergin my dataframes based on their country code and date
first_merge_df = pd.merge(covid_data, vaccines_data, on=['iso_code',"date"], how='left')

In [7]:
first_merge_df

,date,iso_code,location,continent,new_cases,total_cases,new_deaths,total_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated
0,2020-02-24,AFG,Afghanistan,Asia,5.0,5.0,NaN,NaN,NaN,NaN,NaN
1,2020-02-25,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
2,2020-02-26,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
3,2020-02-27,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
4,2020-02-28,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
166321,2022-03-01,ZWE,Zimbabwe,Africa,491.0,236871.0,0.0,5395.0,7901360.0,4365856.0,3399915.0
166322,2022-03-02,ZWE,Zimbabwe,Africa,632.0,237503.0,1.0,5396.0,7910740.0,4368726.0,3402434.0
166323,2022-03-03,ZWE,Zimbabwe,Africa,0.0,237503.0,0.0,5396.0,7921113.0,4372925.0,3406482.0
166324,2022-03-04,ZWE,Zimbabwe,Africa,1236.0,238739.0,1.0,5397.0,7930621.0,4374896.0,3408609.0
166325,2022-03-05,ZWE,Zimbabwe,Africa,280.0,239019.0,0.0,5397.0,7936145.0,4377373.0,3410340.0

In [8]:

columns_that_I_want = ["CCA3", "2020 Population"]
world_statistics = world_statistics[columns_that_I_want]
world_statistics

    CCA3  2020 Population
0    AFG         38972230
1    ALB          2866849
2    DZA         43451666
3    ASM            46189
4    AND            77700
..   ...              ...
229  WLF            11655
230  ESH           556048
231  YEM         32284046
232  ZMB         18927715
233  ZWE         15669666

[234 rows x 2 columns]

In [9]:
second_merge_df = pd.merge(first_merge_df, world_statistics, left_on=['iso_code'], right_on=['CCA3'],how='inner')

columns_to_drop = ['CCA3']

# Drop the specified columns
second_merge_df = second_merge_df.drop(columns=["CCA3"])

In [10]:
second_merge_df

,date,iso_code,location,continent,new_cases,total_cases,new_deaths,total_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,2020 Population
0,2020-02-24,AFG,Afghanistan,Asia,5.0,5.0,NaN,NaN,NaN,NaN,NaN,38972230
1,2020-02-25,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN,38972230
2,2020-02-26,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN,38972230
3,2020-02-27,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN,38972230
4,2020-02-28,AFG,Afghanistan,Asia,0.0,5.0,NaN,NaN,NaN,NaN,NaN,38972230
...,...,...,...,...,...,...,...,...,...,...,...,...
153993,2022-03-01,ZWE,Zimbabwe,Africa,491.0,236871.0,0.0,5395.0,7901360.0,4365856.0,3399915.0,15669666
153994,2022-03-02,ZWE,Zimbabwe,Africa,632.0,237503.0,1.0,5396.0,7910740.0,4368726.0,3402434.0,15669666
153995,2022-03-03,ZWE,Zimbabwe,Africa,0.0,237503.0,0.0,5396.0,7921113.0,4372925.0,3406482.0,15669666
153996,2022-03-04,ZWE,Zimbabwe,Africa,1236.0,238739.0,1.0,5397.0,7930621.0,4374896.0,3408609.0,15669666
153997,2022-03-05,ZWE,Zimbabwe,Africa,280.0,239019.0,0.0,5397.0,7936145.0,4377373.0,3410340.0,15669666

In [11]:


columns_to_ffill_by_country = ['total_vaccinations','people_vaccinated','people_fully_vaccinated']
merged_with_groupby_ffill = second_merge_df
merged_with_groupby_ffill[columns_to_ffill_by_country] = second_merge_df.groupby('iso_code')[columns_to_ffill_by_country].ffill()

In [12]:

merged_with_groupby_ffill_no_nan = merged_with_groupby_ffill.fillna(0)

In [13]:
first_merge_df.info()
second_merge_df.info()
merged_with_groupby_ffill_no_nan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 166326 entries, 0 to 166325
Data columns (total 11 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     166326 non-null  object
 1   iso_code                 166326 non-null  object
 2   location                 166326 non-null  object
 3   continent                156370 non-null  object
 4   new_cases                163133 non-null  float64
 5   total_cases              163293 non-null  float64
 6   new_deaths               145487 non-null  float64
 7   total_deaths             145451 non-null  float64
 8   total_vaccinations       39897 non-null   float64
 9   people_vaccinated        37661 non-null   float64
 10  people_fully_vaccinated  35123 non-null   float64
dtypes: float64(7), object(4)
memory usage: 14.0+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                151207 non-null  float64
 5   total_cases              151374 non-null  float64
 6   new_deaths               134297 non-null  float64
 7   total_deaths             134459 non-null  float64
 8   total_vaccinations       80190 non-null   float64
 9   people_vaccinated        79504 non-null   float64
 10  people_fully_vaccinated  69978 non-null   float64
 11  2020 Population          153998 non-null  int64
dtypes: float64(7), int64(1), object(4)
memory usage: 14.1+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                153998 non-null  float64
 5   total_cases              153998 non-null  float64
 6   new_deaths               153998 non-null  float64
 7   total_deaths             153998 non-null  float64
 8   total_vaccinations       153998 non-null  float64
 9   people_vaccinated        153998 non-null  float64
 10  people_fully_vaccinated  153998 non-null  float64
 11  2020 Population          153998 non-null  int64
dtypes: float64(7), int64(1), object(4)
memory usage: 14.1+ MB

In [14]:
final_df = merged_with_groupby_ffill_no_nan
columns_to_convert= ["new_cases","total_cases","new_deaths","total_deaths","total_vaccinations","people_vaccinated","people_fully_vaccinated"]
final_df[columns_to_convert] = merged_with_groupby_ffill_no_nan[columns_to_convert].astype(int)

In [15]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153998 entries, 0 to 153997
Data columns (total 12 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   date                     153998 non-null  object
 1   iso_code                 153998 non-null  object
 2   location                 153998 non-null  object
 3   continent                153998 non-null  object
 4   new_cases                153998 non-null  int32
 5   total_cases              153998 non-null  int32
 6   new_deaths               153998 non-null  int32
 7   total_deaths             153998 non-null  int32
 8   total_vaccinations       153998 non-null  int32
 9   people_vaccinated        153998 non-null  int32
 10  people_fully_vaccinated  153998 non-null  int32
 11  2020 Population          153998 non-null  int64
dtypes: int32(7), int64(1), object(4)
memory usage: 10.0+ MB

In [17]:
#value_counts = final_df['iso_code']["new_cases"].value_counts()
#value_counts.describe()

In [18]:
df_one_hot_regions = pd.get_dummies(final_df['continent'], prefix='continent')

final_df_one_hot = pd.concat([final_df, df_one_hot_regions], axis=1)

In [19]:
final_df_one_hot

,date,iso_code,location,continent,new_cases,total_cases,new_deaths,total_deaths,total_vaccinations,people_vaccinated,people_fully_vaccinated,2020 Population,continent_Africa,continent_Asia,continent_Europe,continent_North America,continent_Oceania,continent_South America
0,2020-02-24,AFG,Afghanistan,Asia,5,5,0,0,0,0,0,38972230,False,True,False,False,False,False
1,2020-02-25,AFG,Afghanistan,Asia,0,5,0,0,0,0,0,38972230,False,True,False,False,False,False
2,2020-02-26,AFG,Afghanistan,Asia,0,5,0,0,0,0,0,38972230,False,True,False,False,False,False
3,2020-02-27,AFG,Afghanistan,Asia,0,5,0,0,0,0,0,38972230,False,True,False,False,False,False
4,2020-02-28,AFG,Afghanistan,Asia,0,5,0,0,0,0,0,38972230,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153993,2022-03-01,ZWE,Zimbabwe,Africa,491,236871,0,5395,7901360,4365856,3399915,15669666,True,False,False,False,False,False
153994,2022-03-02,ZWE,Zimbabwe,Africa,632,237503,1,5396,7910740,4368726,3402434,15669666,True,False,False,False,False,False
153995,2022-03-03,ZWE,Zimbabwe,Africa,0,237503,0,5396,7921113,4372925,3406482,15669666,True,False,False,False,False,False
153996,2022-03-04,ZWE,Zimbabwe,Africa,1236,238739,1,5397,7930621,4374896,3408609,15669666,True,False,False,False,False,False
153997,2022-03-05,ZWE,Zimbabwe,Africa,280,239019,0,5397,7936145,4377373,3410340,15669666,True,False,False,False,False,False

In [20]:
merged_with_groupby_ffill_no_nan.to_csv('ffill_data.csv', index=False)

PermissionError: [Errno 13] Permission denied: 'ffill_data.csv'

In [ ]:
pip install --upgrade scikit-learn

In [68]:
final_df_numeric_only = final_df_one_hot.drop(["date","iso_code","location","continent"], axis=1)

In [69]:
from sklearn.decomposition import PCA
from sklearn.preprocessing import StandardScaler


# standardizing the data 
scaler = StandardScaler()
df_standardized = scaler.fit_transform(final_df_numeric_only)

# Create a PCA instance with the desired number of components
pca = PCA(n_components=3)
df_pca = pca.fit_transform(df_standardized)

In [70]:
# Create a DataFrame with the principal components
df_pca = pd.DataFrame(data=df_pca, columns=['pc1','pc2','pc3'])

# Display the loadings of each original variable on each principal component
loadings_df = pd.DataFrame(pca.components_.T, columns=['PC1 Loading', 'PC2 Loading','PC3 Loading'], index=final_df_numeric_only.columns)

In [71]:
df_pca

             pc1       pc2       pc3
0      -0.258511  0.607127 -0.930979
1      -0.258609  0.607192 -0.930981
2      -0.258609  0.607192 -0.930981
3      -0.258609  0.607192 -0.930981
4      -0.258609  0.607192 -0.930981
...          ...       ...       ...
153993 -0.513416  0.131717 -0.878035
153994 -0.508576  0.128487 -0.878010
153995 -0.522815  0.138111 -0.878283
153996 -0.496454  0.120611 -0.877752
153997 -0.517031  0.134406 -0.878180

[153998 rows x 3 columns]

In [72]:
loadings_df

                         PC1 Loading  PC2 Loading  PC3 Loading
new_cases                   0.350328    -0.232382     0.008408
total_cases                 0.458830    -0.181926    -0.028933
new_deaths                  0.353191    -0.251153    -0.004957
total_deaths                0.444103    -0.204701    -0.009843
total_vaccinations          0.149309    -0.398663    -0.239808
people_vaccinated           0.342019     0.468870     0.102407
people_fully_vaccinated     0.302227     0.517504     0.159569
2020 Population             0.310112     0.275855    -0.131360
continent_Africa           -0.089191     0.038051    -0.390284
continent_Asia              0.062495     0.221318    -0.394073
continent_Europe            0.002159    -0.123720     0.760621
continent_North America     0.016327    -0.089894     0.026826
continent_Oceania          -0.042076     0.003846     0.032460
continent_South America     0.063960    -0.106825    -0.018052

In [73]:
pca.explained_variance_ratio_

array([0.27134812, 0.14098661, 0.09422024])

In [67]:
explained_variance_ratio = pca.explained_variance_ratio_

# Display the explained variance ratio for each principal component
print("Explained Variance Ratio:")
for i, ratio in enumerate(explained_variance_ratio):
    print(f"Principal Component {i + 1}: {ratio:.4f}")

Explained Variance Ratio:
Principal Component 1: 0.2701
Principal Component 2: 0.1425
Principal Component 3: 0.1007